:root {
  --color-white: #fcfcfc;
--color-blue: #6ec5e0;
--color-blue-green:#8fc8b6;
--color-greener: #b0cc8c;
--color-olive:#d1d063;
    --color-green: #D3D26A;
    --color-blue: #AEDDEC;
    
  }
  
  /* Use the colors in your CSS */
  body {
    background-color: var(--color-white);
  margin: 40px auto;
  max-width: 880px;
  line-height: 1.9;
  padding: 0 10px
  }
  .img-box{
    width:880px;
    height:300px;
    background-image: url('../images/white-pepti-logo.png'); 
    background-size:contain;
    background-repeat: no-repeat;
  }
  
  h1{
    color: var(--color-blue);
    font-family: Montserrat;
    font-size: 3em;
}

h2, h3, h4, h5, h6{
    font-family: 'Josefin Slab';
    color:var(--color-green);

}

p{
    
    font-family: Maitree;
    font-size: 18px;
   
}

  h1, h2, h3, h4, h5, h6 {

    line-height: 1.2
  }
  
  a {
    color: var(--color-green);
  }



@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Josefin Slab;
    src: url('../fonts/Josefin_Slab/JosefinSlab-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: Maitree;
    src: url('../fonts/Maitree/Maitree-Regular.ttf');
}



